<div class="row" data-ng-repeat="cv in cvs.items ">
  <div class="col-md-2 col-sm-3 datetime">
    <h2>{{cv.year}}</h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p  data-ng-bind-html="renderHtml(cv.abstract)"></p>
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row" >
  <div class="col-md-2 col-sm-3 datetime">
    &nbsp;
  </div>
  <div class="col-md-10 col-sm-9">
    <h2>{{cvs.functionsLabel}}</h2>
  </div>
</div>


<div class="row" data-ng-repeat="function in cvs.functions ">

  <div class="col-md-2 col-sm-3 datetime">
    <h2>{{function.title}}</h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <span  data-ng-repeat="func in function.function">
      <p  data-ng-bind-html="renderHtml(func)"></p>
    </span>
  </div>
</div>
<div class="lastmodified">{{cvs.lastmodified.label}} {{cvs.lastmodified.date | date:'dd MMM yyyy'}}</div>
