<div class="row">
  <div class="col-sm-11 col-sm-offset-0">
    <input data-ng-model="search.$" placeholder="{{cvs.searchLabel}}" class="search">
  </div>
</div>

<br><br class="hidden-xs">

<div class="row" data-ng-repeat="cv in cvs.items | filter:search.$">
  <div class="col-md-2 col-sm-3 datetime">
    <h2 data-ng-bind-html="highlight(cv.year, search.$)"></h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p data-ng-bind-html="highlight(cv.abstract, search.$)"></p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
    <h2>{{cvs.groupsLabel}}</h2>
  </div>
</div>

<div class="row" data-ng-repeat="group in cvs.groups">
  <div class="col-md-2 col-sm-3 datetime">
    <h2>{{group.period}}</h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p><a ng-href="{{group.url}}">{{group.name}}</a></p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
    <h2>{{cvs.projectsLabel}}</h2>
  </div>
</div>

<div class="row" data-ng-repeat="project in cvs.projects">
  <div class="col-md-2 col-sm-3 datetime">
    <h2>{{project.period}}</h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p><a ng-href="{{project.url}}">{{project.name}}</a></p>
  </div>
</div>

<br>

<div ng-if="filteredfunctions.length > 0" class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
    <h2>{{cvs.functionsLabel}}</h2>
  </div>
</div>

<div class="row" data-ng-repeat="function in cvs.functions | filter:search.$ as filteredfunctions">
  <div class="col-md-2 col-sm-3">
    <h2 data-ng-bind-html="highlight(function.title, search.$)"></h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p data-ng-repeat="func in function.function" data-ng-bind-html="highlight(func, search.$)"></p>
  </div>
</div>

<br>

<div ng-if="filteredcourses.length > 0" class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
    <h2>{{cvs.coursesLabel}}</h2>
  </div>
</div>

<div class="row" data-ng-repeat="course in cvs.courses | filter:search.$ | orderBy: '-period' as filteredcourses">
  <div class="col-md-2 col-sm-3">
    <h2 data-ng-bind-html="highlight(course.period, search.$)"></h2>
  </div>
  <div class="col-md-10 col-sm-9">
    <p data-ng-bind-html="highlight(course.title, search.$)"></p>
  </div>
</div>

<div class="lastmodified">{{cvs.lastmodified.label}} {{cvs.lastmodified.date | date:'dd MMM yyyy'}}</div>
