<div class="row newline" ng-show="address.phone">
  <div class="col-md-2 col-sm-3">
    <h2>{{address.phone.title}}</h2>
  </div>
  <div class="col-md-10 col-sm-9" >
    <p ng-repeat="tel in address.phone.numbers" class="nomargin">
      <span ng-show="isMobile"><a hef="{{createMobilePhoneNr(tel.number)}}">{{tel.number}}</a></span>
      <span ng-hide="isMobile">{{tel.number}}</span>
      <span ng-show="tel.type">({{tel.type}})</span>
    </p>
  </div>
</div>

<div class="row newline"  ng-repeat="address in address.address">
  <div class="col-md-2 col-sm-3">
    <h2>{{address.type}}</h2>
  </div>
  <div class="col-md-10 col-sm-9" >
    <p ng-show="address.building">{{address.building}}</p>
    <p ng-show="address.room" class="nomargin">{{address.roomlabel}} {{address.room}}</p>
    <p ng-show="address.street" class="nomargin">{{address.street}}</p>
    <p ng-show="address.postcode" class="nomargin">{{address.postcode}} {{address.city}}</p>
    <p ng-show="address.country">{{address.country}}</p>
    <p ng-show="address.googlemaps">
      <a href="https://www.google.nl/maps/place/{{address.googlemaps}}" title="View on Google Maps" target="_blank">
        <img src="images/maps.png" alt="Google Maps"/>
      </a>
    </p>
  </div>
</div>

<div class="lastmodified">{{address.lastmodified.label}} {{address.lastmodified.date | date:'dd MMM yyyy'}}</div>

