<div class="row">

  <div class="col-md-3 col-sm-5">
    <h2>Phone</h2>
  </div>
  <div class="col-md-9 col-sm-7">
    <p>+31 30 253 5966 (direct)<br/>
      +31 30 253 7088 (department)</p>
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-3 col-sm-5">
    <h2>Physical address</h2>
  </div>
  <div class="col-md-9 col-sm-7">
    <p>Buys Ballotgebouw</p>
    <p>Princetonplein 5<br/>
    Room BBL-477<br/>
    3584 CC &nbsp;Utrecht<br/>
    The Netherlands</p>
    <p>
      <a href="https://www.google.nl/maps/place/Buys+Ballotgebouw/@52.08723,5.1654,15z/data=!4m2!3m1!1s0x0:0x71bd1424c2401f77" title="View on Google Maps" target="_blank">
        <img src="images/maps.png" alt="Google Maps"/>
      </a>
    </p>
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-3 col-sm-5">
    <h2>Postal address</h2>
  </div>
  <div class="col-md-9 col-sm-7">
    <p>Postbus 80.089<br/>
      3508 TB &nbsp;Utrecht<br/>
      The Netherlands</p>
  </div>
</div>
