<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h3 class="modal-title">Publication details</h3>
</div>
<div class="modal-body" style="overflow:auto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div ng-if="pub.urls.doi" class="publink">
          <a ng-href="{{pub.urls.doi}}" target="_blank"><img src="images/doi.png"><br>DOI</a>
        </div>
        <div class="publink">
          <a ng-href="http://eprints.ewi.utwente.nl/{{pub.id}}" target="_blank"><img src="images/eprints.png"><br>EPrints</a>
        </div>
        <div ng-if="pub.urls.pdf" class="publink">
          <a ng-href="{{pub.urls.pdf}}" target="_blank"><img src="images/pdf.png"><br>PDF</a>
        </div>
        <div class="publink">
          <a ng-href="http://eprints.eemcs.utwente.nl/perl/export/{{pub.id}}/bibtex/eemcs-eprint-{{pub.id}}.txt" target="_blank"><img src="images/bibtex.png"><br>BibTeX</a>
        </div>
        <div class="publink">
          <a ng-href="http://eprints.eemcs.utwente.nl/perl/export/{{pub.id}}/xml/eemcs-eprint-{{pub.id}}.xml" target="_blank"><img src="images/xml.png"><br>XML</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Title</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.title}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.subtitle">
      <div class="col-md-2">
        <h2 class="attr">Subtitle</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.subtitle}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Abstract</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.abstract}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Type</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.type}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.supervisors">
      <div class="col-md-2">
        <h2 class="attr">Supervisors</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.supervisors}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.assistantsupervisors">
      <div class="col-md-2">
        <h2 class="attr">Assistant supervisors</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.assistantsupervisors}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Research group</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.researchgroup}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Research program</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.researchprogram}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.researchproject">
      <div class="col-md-2">
        <h2 class="attr">Research project</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.researchproject}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.additionalinfo">
      <div class="col-md-2">
        <h2 class="attr">Additional information</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.additionalinfo}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Keywords</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.keywords}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2 class="attr">Deposited</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.deposited | date}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.refereed = 'Yes'">
      <div class="col-md-2">
        <h2 class="attr">Refereed</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.refereed}}</p>
      </div>
    </div>
    <div class="row" ng-if="pub.isi">
      <div class="col-md-2">
        <h2 class="attr">ISI impact factor</h2>
      </div>
      <div class="col-md-10">
        <p>{{pub.isi}}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">Close</button>
</div>
