<div ng-repeat="year in years | orderBy">
  <div ng-repeat="pub in publications | filter: {year: year} | orderBy: '-deposited'">
    <div class="row">
      <div class="col-md-1">
        <h2 ng-if="$first">{{year}}</h2>
      </div>
      <div class="col-md-11">
        <p><a href="" ng-click="openPubDetailModal(pub)">{{pub.title}}<span ng-if="pub.subtitle">: {{pub.subtitle}}</span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <p>{{pub.abstract | limitTo:250}} . . .</p>

        <p class="reference">{{pub.reference}}</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <p class="pubtype">{{pub.type}}</p>
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
</div>
