<div class="row">
  <div class="col-md-2  col-sm-2"></div>
  <div class="col-md-10  col-sm-10">
    <select ng-model="pubType">
      <optgroup label="{{publications.orderLabel}}">
        <option>{{publications.allTypesLabel}}</option>
          <option ng-repeat="type in types">{{type}}</option>
        </optgroup>

    </select>
    <input ng-model="searchText" placeholder="{{publications.searchLabel}}" class="search">
  </div>
</div>

<br><br>

<div ng-repeat="year in years | orderBy:'-'">
  <div ng-repeat="pub in publications.items | filter: {year: year} | filter:pubTypeSelector() | filter:searchText | orderBy:'-deposited'">

    <div class="row">
      <div class="col-md-2  col-sm-2">
        <h2 ng-if="$first">{{year}}</h2>
      </div>
      <div class="col-md-10 col-sm-10">
        <p><a href="" ng-click="openPubDetailModal(pub)"><span ng-bind-html="highlight(pub.title, searchText)"></span><span
          ng-if="pub.subtitle">:</span>
          <span ng-bind-html="highlight(pub.subtitle, searchText)"></span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-5 col-sm-5">
        <p ng-if="!searchText">{{pub.abstract | limitTo:250}} . . .</p>

        <p ng-if="searchText" ng-bind-html="highlight(pub.abstract, searchText)"></p>

        <p ng-if="searchText">Keywords: <span ng-bind-html="highlight(pub.keywords, searchText)"></span></p>

        <p class="reference" ng-bind-html="highlight(pub.reference, searchText)"></p>
      </div>
      <div class="col-md-5 col-sm-5">
        <p class="pubtype" ng-bind-html="highlight(pub.type, searchText)"></p>
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
</div>

<div class="lastmodified">{{publications.lastmodified.label}} {{publications.lastmodified.date | date:'dd MMM yyyy'}}</div>
