<div class="row heading">
  <div class="col-md-12">
    <div class="col-md-3 col-sm-4">
      <h2>Huidige positie</h2>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Dr. Egon L. van den Broek is universitair docent interactie technologie aan de Universiteit Utrecht. Hij werkt
        ook als consultant voor diverse instituten en organisaties zoals de Europese Commissie, TNO, Philips en de
        Verenigde Naties. Daarnaast is hij mede-oprichter en Chief Scientific Officer (CSO) van Information eXperience
        B.V.</p>
    </div>

    <div class="col-md-3 col-sm-4">
      <h2>Studie</h2>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Van den Broek studeerde kunstmatige intelligentie aan de Radboud Universiteit te Nijmegen en promoveerde daar
        in 2005 op een nieuwe generatie zoeksystemen voor internet. In 2011 promoveerde hij een tweede keer, ditmaal op
        empatische technologie aan de Universiteit van Twente.</p>
    </div>

    <div class="col-md-3 col-sm-4">
      <h2>Onderzoek</h2>
    </div>
    <div class="col-md-9 col-sm-8">
      <p>Zijn huidige onderzoek richt zich op verschillende aspecten
        van de Internet of Things, de volgende ICT-revolutie. Hij werkt aan bewuste danwel onbewuste, onzichtbare,
        intuïtieve interactie met ICT. Hiervoor is ICT nodig die zich kan aanpassen aan een context, alsook intelligent,
        empatisch en (semi-)autonoom is.</p>
    </div>
  </div>
</div>

<div class="lastmodified">{{summary.lastmodified.label}} {{summary.lastmodified.date | date:'dd MMM yyyy'}}</div>
